/node_modules
/public/hot
/public/storage
/public/assets
/public/assets/css
/public/assets/fonts
/public/assets/images
/public/assets/js
/storage/*.key
/storage/logs/
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

